{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "max-len": ["warn", 120],
    "indent": ["warn", 4],
    "react/jsx-indent": ["warn", 4]
  },
  "globals": {
    "localStorage": true 
  }
}